.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(38, 0, 133);
  color: #fff;
}

.main-div span {
  color: aqua;
}

.game-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 50px;
}

.box:hover {
  background-color: rgb(60, 0, 213);
}

.reset-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: aqua;
  color: #000000;
  cursor: pointer;
  margin: 10px;
  font-weight: 800;
}

.reset-btn:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.won-msg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.won-msg img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}
